Build in Public - Post to X.json
{
  "name": "Build in Public - Post to X",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "88f2f560-64fd-47a7-8cbd-2001ec5bd8da",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        432,
        -368
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "f6645ad8-f911-49d6-acad-bd24a4fa8e50",
          "mode": "list",
          "cachedResultName": "Build in Public Posts",
          "cachedResultUrl": "https://www.notion.so/f6645ad8f91149d6acadbd24a4fa8e50"
        },
        "returnAll": true,
        "filterType": "json",
        "filterJson": "={\n  \"and\": [\n    {\n      \"property\": \"Status\",\n      \"select\": { \"equals\": \"Approved\" }\n    },\n    {\n      \"property\": \"Ready to Post\",\n      \"checkbox\": { \"equals\": true }\n    },\n    {\n      \"or\": [\n        {\n          \"property\": \"Scheduled For\",\n          \"date\": { \"on_or_before\": \"{{ $now.toISO() }}\" }\n        },\n        {\n          \"property\": \"Scheduled For\",\n          \"date\": { \"is_empty\": true }\n        },\n          {\"property\":\"Type\",\"select\":{\"equals\":\"Code Update\"}}\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "9c2ff3c7-6bd2-449d-8914-9a33e3e7cc47",
      "name": "Query Approved Posts",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        656,
        -368
      ],
      "credentials": {
        "notionApi": {
          "id": "AgBTlffVso2wYwnY",
          "name": "personal notion "
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-results",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "610ddcc1-2c7d-4e32-aedc-85aa801e1e34",
      "name": "Has Approved Posts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        -368
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.property_image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "3474a56c-d053-40dd-879b-ed84bf98195f",
      "name": "Download Image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1088,
        -480
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Query Approved Posts').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Posted"
            },
            {
              "key": "Posted|checkbox",
              "checkboxValue": true
            },
            {
              "key": "Post Links|rich_text",
              "textContent": "={{ 'https://twitter.com/i/status/' + $json.data.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "6cf655db-9aae-4de9-a0f1-105f55c888d7",
      "name": "Update Notion (Posted)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1744,
        -480
      ],
      "credentials": {
        "notionApi": {
          "id": "AgBTlffVso2wYwnY",
          "name": "personal notion "
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1296,
        -480
      ],
      "id": "b15a3776-936e-42e9-94ab-58f61d69eedd",
      "name": "HTTP Request",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "vPiCMdD6PEAhJrrl",
          "name": "X account"
        },
        "twitterOAuth1Api": {
          "id": "xPX5EX62QMMc88NP",
          "name": "X OAuth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"text\":\"{{ $('Download Image').item.json.property_caption.replace(/\\n/g, '\\\\n').replace(/\\u2014/g, '-') }}\",\"media\":{\"media_ids\":[\"{{ $json.media_id_string }}\"]}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1504,
        -480
      ],
      "id": "7437f789-44f6-49f8-83a4-f08a0a052414",
      "name": "HTTP Request1",
      "credentials": {
        "twitterOAuth2Api": {
          "id": "vPiCMdD6PEAhJrrl",
          "name": "X account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Query Approved Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Approved Posts": {
      "main": [
        [
          {
            "node": "Has Approved Posts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Approved Posts?": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Update Notion (Posted)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d6a0704f-7300-451f-a2e5-e8c554ef0d3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef8b0124d75d6691952e14b64b8ab7cda1e4085ca0d271843065efcf6b6a4525"
  },
  "id": "nHuO5fygYfu0mn9L",
  "tags": []
}