Tutorial Posts - Video & Carousel to X (2).json
{
  "name": "Tutorial Posts - Video & Carousel to X",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "=3179e888-3dc8-81fe-986f-e0409b48540d",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Posted"
            },
            {
              "key": "Posted|checkbox",
              "checkboxValue": true
            },
            {
              "key": "=",
              "textContent": "={{ 'https://twitter.com/i/status/' + $json.data.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1ee7b1d3-8544-4b65-ac6a-693b5c42bbe7",
      "name": "Update Notion (Video Posted)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1296,
        480
      ],
      "credentials": {
        "notionApi": {
          "id": "AgBTlffVso2wYwnY",
          "name": "personal notion "
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.caption, media: { media_ids: $json.mediaIds } }) }}",
        "options": {}
      },
      "id": "b9aa404e-58b9-4d75-af05-7de3f50ec18c",
      "name": "Post Carousel Tweet1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        928
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst mediaIds = items.map(item => item.json.media_id_string);\n\nconst queryNode = $('Query Tutorial Posts1').first();\nconst caption = queryNode.json.properties?.Caption?.rich_text\n  ?.map(t => t.plain_text).join('') || '';\nconst pageId = queryNode.json.id;\n\nreturn [{\n  json: {\n    mediaIds,\n    caption,\n    pageId\n  }\n}];"
      },
      "id": "792d8468-7b3d-43aa-852b-0232fa279c0f",
      "name": "Collect Media IDs1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        928
      ],
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "28f6ab91-6a08-4bd0-a407-cb5c98543e4f",
      "name": "Upload to X Media1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        928
      ],
      "credentials": {
        "twitterOAuth1Api": {
          "id": "xPX5EX62QMMc88NP",
          "name": "X OAuth account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "af1ef82a-8379-46a2-8167-ae168af2bed4",
      "name": "Download Images1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        928
      ],
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const blocks = $input.all();\nlet allText = '';\n\nfor (const item of blocks) {\n  const content = item.json.content;\n  if (content) {\n    allText += content + '\\n';\n  }\n}\n\nconst urlPattern = /https:\\/\\/ghost-gym-v3-testing\\.up\\.railway\\.app\\/static\\/assets\\/img\\/(tutorials|build-in-public)\\/[^\\s\\n)]+\\.(png|jpg|jpeg)/gi;\nlet urls = (allText.match(urlPattern) || []).slice(0, 4);\n\nif (urls.length === 0) {\n  const imageUrl = $('Query Tutorial Posts1').first().json.properties?.['Image URL']?.url;\n  if (imageUrl) {\n    urls = [imageUrl];\n  }\n}\n\nif (urls.length === 0) {\n  throw new Error('No image URLs found in page content or Image URL property');\n}\n\nreturn urls.map((url, i) => ({\n  json: { url, index: i }\n}));"
      },
      "id": "e10729e4-6c6a-4c56-99d8-b36a5a655a92",
      "name": "Parse Image URLs1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        928
      ],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "={{ $('Query Tutorial Posts1').item.json.id }}",
          "mode": "id"
        },
        "returnAll": true
      },
      "id": "26042c22-a903-4627-b490-e64665aec63c",
      "name": "Get Page Content1",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -80,
        928
      ],
      "credentials": {
        "notionApi": {
          "id": "AgBTlffVso2wYwnY",
          "name": "personal notion "
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-results",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dcc65bcb-71b6-4bfd-bfb4-5fbc0b8c5706",
      "name": "Has Tutorial Posts?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -592,
        640
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "f6645ad8-f911-49d6-acad-bd24a4fa8e50",
          "mode": "list",
          "cachedResultName": "Build in Public Posts",
          "cachedResultUrl": "https://www.notion.so/f6645ad8f91149d6acadbd24a4fa8e50"
        },
        "limit": 1,
        "filterType": "json",
        "filterJson": "={\"and\":[{\"property\":\"Status\",\"select\":{\"equals\":\"Approved\"}},{\"property\":\"Ready to Post\",\"checkbox\":{\"equals\":true}},{\"property\":\"Posted\",\"checkbox\":{\"equals\":false}},{\"property\":\"Type\",\"select\":{\"equals\":\"Tutorial\"}}]}",
        "options": {}
      },
      "id": "ec07138a-516c-4111-b979-c78ccf1dc96e",
      "name": "Query Tutorial Posts1",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -800,
        640
      ],
      "credentials": {
        "notionApi": {
          "id": "AgBTlffVso2wYwnY",
          "name": "personal notion "
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Collect Media IDs1').item.json.pageId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Posted"
            },
            {
              "key": "Posted|checkbox",
              "checkboxValue": true
            },
            {
              "key": "Post Links|richText",
              "textContent": "={{ 'https://twitter.com/i/status/' + $json.data.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "206dc2cc-3a01-4a1b-91af-91d1b5277ef0",
      "name": "Update Notion (Carousel Posted)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1200,
        928
      ],
      "credentials": {
        "notionApi": {
          "id": "AgBTlffVso2wYwnY",
          "name": "personal notion "
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Query Tutorial Posts1').first().json.property_caption, media: { media_ids: [$('INIT Upload').first().json.media_id_string.trim()] } }) }}",
        "options": {}
      },
      "id": "797a0ac5-ec56-4d60-a082-967fd8433812",
      "name": "Post Video Tweet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1072,
        480
      ],
      "credentials": {
        "twitterOAuth1Api": {
          "id": "xPX5EX62QMMc88NP",
          "name": "X OAuth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "c3d3e62d-3203-4c63-b9b9-f02f3bacd62d",
      "name": "Wait 30s for Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        864,
        480
      ],
      "webhookId": "8aec889f-5af5-4fa6-b75b-f1937bfa25dd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://upload.twitter.com/1.1/media/upload.json?command=FINALIZE&media_id={{ $('INIT Upload').first().json.media_id_string.trim() }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "options": {}
      },
      "id": "d6cff5d1-3bd7-420e-88f2-884ba900eb53",
      "name": "FINALIZE Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        640,
        480
      ],
      "credentials": {
        "twitterOAuth1Api": {
          "id": "xPX5EX62QMMc88NP",
          "name": "X OAuth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-video",
              "leftValue": "={{ $json.property_video_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "55ca23b2-5534-4841-b643-c7214c3deec8",
      "name": "Has Video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -368,
        624
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "APPEND"
            },
            {
              "name": "media_id",
              "value": "={{ $json.media_id_string }}"
            },
            {
              "name": "segment_index",
              "value": "0"
            },
            {
              "name": "media_data",
              "value": "={{ $('Get Video Base64').first().json.media_data }}\n"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        336,
        512
      ],
      "id": "c43913d2-63d2-4b38-b2de-05b387ed7265",
      "name": "Append Video",
      "credentials": {
        "twitterOAuth1Api": {
          "id": "xPX5EX62QMMc88NP",
          "name": "X OAuth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "INIT"
            },
            {
              "name": "total_bytes",
              "value": "={{ $json.total_bytes }}"
            },
            {
              "name": "media_type",
              "value": "video/mp4"
            },
            {
              "name": "media_category",
              "value": "tweet_video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        128,
        512
      ],
      "id": "bd8e1997-698a-46ec-8d03-3121aa603432",
      "name": "INIT Upload",
      "credentials": {
        "twitterOAuth1Api": {
          "id": "xPX5EX62QMMc88NP",
          "name": "X OAuth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://ghost-gym-v3-testing.up.railway.app/api/v3/export/video-base64/{{ $('Query Tutorial Posts1').first().json.property_video_url.split('/').pop() }}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -96,
        512
      ],
      "id": "e9dd527c-4f84-4a4c-a6ce-598b2c9bd656",
      "name": "Get Video Base64"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "id": "6b53aa6c-110b-407c-ac2a-e7a337ab6aad",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1040,
        640
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Collect Media IDs1": {
      "main": [
        [
          {
            "node": "Post Carousel Tweet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to X Media1": {
      "main": [
        [
          {
            "node": "Collect Media IDs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Images1": {
      "main": [
        [
          {
            "node": "Upload to X Media1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Image URLs1": {
      "main": [
        [
          {
            "node": "Download Images1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Content1": {
      "main": [
        [
          {
            "node": "Parse Image URLs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Tutorial Posts?1": {
      "main": [
        [
          {
            "node": "Has Video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Tutorial Posts1": {
      "main": [
        [
          {
            "node": "Has Tutorial Posts?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Carousel Tweet1": {
      "main": [
        [
          {
            "node": "Update Notion (Carousel Posted)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Video Tweet": {
      "main": [
        [
          {
            "node": "Update Notion (Video Posted)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s for Processing": {
      "main": [
        [
          {
            "node": "Post Video Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINALIZE Upload": {
      "main": [
        [
          {
            "node": "Wait 30s for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Video?": {
      "main": [
        [
          {
            "node": "Get Video Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Page Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Video": {
      "main": [
        [
          {
            "node": "FINALIZE Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INIT Upload": {
      "main": [
        [
          {
            "node": "Append Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Base64": {
      "main": [
        [
          {
            "node": "INIT Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Query Tutorial Posts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "44c64b15-dd67-43f4-a87a-b6cab800e9e2",
  "meta": {
    "instanceId": "ef8b0124d75d6691952e14b64b8ab7cda1e4085ca0d271843065efcf6b6a4525"
  },
  "id": "0mE19FAArsSJOAUx",
  "tags": []
}