Tutorial Posts - Video & Carousel to X.json
{
  "name": "Tutorial Posts - Video & Carousel to X",
  "nodes": [
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Query Tutorial Posts1').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Posted"
            },
            {
              "key": "Posted|checkbox",
              "checkboxValue": true
            },
            {
              "key": "Post Links|richText",
              "textContent": "={{ 'https://twitter.com/i/status/' + $json.data.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "0b2fd2e5-d841-48dd-af59-19ef3f7a88ff",
      "name": "Update Notion (Video Posted)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1552,
        528
      ],
      "credentials": {
        "notionApi": {
          "id": "AgBTlffVso2wYwnY",
          "name": "personal notion "
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Query Tutorial Posts1').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Failed"
            },
            {
              "key": "Notes|richText",
              "textContent": "={{ 'FAILED: ' + $json.message + ' at ' + new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "31346a46-dda4-48c6-b3b1-f155c7fd844e",
      "name": "Update Notion (Failed)1",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -352,
        1440
      ],
      "credentials": {
        "notionApi": {
          "id": "AgBTlffVso2wYwnY",
          "name": "personal notion "
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.caption, media: { media_ids: $json.mediaIds } }) }}",
        "options": {}
      },
      "id": "513e4637-8202-4780-bebc-52c3737438e3",
      "name": "Post Carousel Tweet1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        1136
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all media IDs into a single item for the tweet\nconst items = $input.all();\nconst mediaIds = items.map(item => item.json.media_id_string);\n\nconst queryNode = $('Query Tutorial Posts1').first();\nconst caption = queryNode.json.properties?.Caption?.rich_text\n  ?.map(t => t.plain_text).join('') || '';\nconst pageId = queryNode.json.id;\n\nreturn [{\n  json: {\n    mediaIds,\n    caption,\n    pageId\n  }\n}];"
      },
      "id": "27dd344e-1645-43fc-b8c7-5a88a372b75c",
      "name": "Collect Media IDs1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        1136
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "de8c4894-308e-4f43-905a-2f810716e919",
      "name": "Upload to X Media1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -144,
        1136
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "b6ed5d9e-5229-469a-96b7-a7398234f2c1",
      "name": "Download Images1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -352,
        1136
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect all text from Notion page blocks\nconst blocks = $input.all();\nlet allText = '';\n\nfor (const item of blocks) {\n  const content = item.json.content;\n  if (content) {\n    allText += content + '\\n';\n  }\n}\n\n// Try to extract image URLs from page body\nconst urlPattern = /https:\\/\\/ghost-gym-v3-testing\\.up\\.railway\\.app\\/static\\/assets\\/img\\/(tutorials|build-in-public)\\/[^\\s\\n)]+\\.(png|jpg|jpeg)/gi;\nlet urls = (allText.match(urlPattern) || []).slice(0, 4);\n\n// Fallback: use the Image URL property from the Notion page\nif (urls.length === 0) {\n  const imageUrl = $('Query Tutorial Posts1').first().json.properties?.['Image URL']?.url;\n  if (imageUrl) {\n    urls = [imageUrl];\n  }\n}\n\nif (urls.length === 0) {\n  throw new Error('No image URLs found in page content or Image URL property');\n}\n\n// Output one item per image URL\nreturn urls.map((url, i) => ({\n  json: { url, index: i }\n}));"
      },
      "id": "2631ce0d-9840-482a-973e-4e034f2caedd",
      "name": "Parse Image URLs1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        1136
      ]
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "={{ $('Query Tutorial Posts1').item.json.id }}",
          "mode": "id"
        },
        "returnAll": true
      },
      "id": "76bfe7ff-9a01-4fbe-b8c2-42f2ec0868c9",
      "name": "Get Page Content1",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -800,
        1136
      ],
      "credentials": {
        "notionApi": {
          "id": "AgBTlffVso2wYwnY",
          "name": "personal notion "
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-results",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e3c09861-0cb1-4756-a834-889a79374fda",
      "name": "Has Tutorial Posts?1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1264,
        848
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "f6645ad8-f911-49d6-acad-bd24a4fa8e50",
          "mode": "list",
          "cachedResultName": "Build in Public Posts",
          "cachedResultUrl": "https://www.notion.so/f6645ad8f91149d6acadbd24a4fa8e50"
        },
        "limit": 1,
        "filterType": "json",
        "filterJson": "={\"and\":[{\"property\":\"Status\",\"select\":{\"equals\":\"Approved\"}},{\"property\":\"Ready to Post\",\"checkbox\":{\"equals\":true}},{\"property\":\"Posted\",\"checkbox\":{\"equals\":false}},{\"property\":\"Type\",\"select\":{\"equals\":\"Tutorial\"}}]}",
        "options": {}
      },
      "id": "387b1757-01b5-4c38-a636-d471b64dab76",
      "name": "Query Tutorial Posts1",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1472,
        848
      ],
      "credentials": {
        "notionApi": {
          "id": "AgBTlffVso2wYwnY",
          "name": "personal notion "
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Collect Media IDs1').item.json.pageId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Posted"
            },
            {
              "key": "Posted|checkbox",
              "checkboxValue": true
            },
            {
              "key": "Post Links|richText",
              "textContent": "={{ 'https://twitter.com/i/status/' + $json.data.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "20379b3b-8359-4bf7-a8fd-be5fb64109e5",
      "name": "Update Notion (Carousel Posted)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        528,
        1136
      ],
      "credentials": {
        "notionApi": {
          "id": "AgBTlffVso2wYwnY",
          "name": "personal notion "
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $('Query Tutorial Posts1').first().json.properties.Caption.rich_text.map(t => t.plain_text).join(''), media: { media_ids: [$('Prepare APPEND').item.json.media_id_string] } }) }}",
        "options": {}
      },
      "id": "56b0d680-1503-4b7a-85a8-2d2d0353ee7b",
      "name": "Post Video Tweet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        528
      ]
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "3c7f4e92-9b20-4d38-8acb-685bbd633476",
      "name": "Wait 30s for Processing",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1104,
        528
      ],
      "webhookId": "8aec889f-5af5-4fa6-b75b-f1937bfa25dd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json?command=FINALIZE&media_id={{ $('INIT Chunked Upload').first().json.media_id_string }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "options": {}
      },
      "id": "56306fdd-8f7a-4510-8307-d076c8d26496",
      "name": "FINALIZE Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        112,
        672
      ],
      "credentials": {
        "twitterOAuth1Api": {
          "id": "xPX5EX62QMMc88NP",
          "name": "X OAuth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-video",
              "leftValue": "={{ $json.property_video_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "74e29d62-b1db-4701-8740-7e3ef3cdf3cf",
      "name": "Has Video?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1040,
        832
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Query Tutorial Posts').item.json.id }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Failed"
            },
            {
              "key": "Notes|richText",
              "textContent": "={{ 'FAILED: ' + $json.message + ' at ' + new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f002d44c-8d66-438c-b01c-ee933c98eeff",
      "name": "Update Notion (Failed)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1168,
        896
      ],
      "credentials": {
        "notionApi": {
          "id": "AgBTlffVso2wYwnY",
          "name": "personal notion "
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "update",
        "pageId": {
          "__rl": true,
          "value": "={{ $('Collect Media IDs').item.json.pageId }}",
          "mode": "id"
        },
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Status|select",
              "selectValue": "Posted"
            },
            {
              "key": "Posted|checkbox",
              "checkboxValue": true
            },
            {
              "key": "Post Links|richText",
              "textContent": "={{ 'https://twitter.com/i/status/' + $json.data.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9d124c02-f0ba-4e6d-8472-f2ab8796ebcf",
      "name": "Update Notion (Posted)",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        656,
        208
      ],
      "credentials": {
        "notionApi": {
          "id": "AgBTlffVso2wYwnY",
          "name": "personal notion "
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.twitter.com/2/tweets",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.caption, media: { media_ids: $json.mediaIds } }) }}",
        "options": {}
      },
      "id": "5bb82b53-8fa2-4343-868e-6868b7ffba24",
      "name": "Post Carousel Tweet",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all media IDs into a single item for the tweet\nconst items = $input.all();\nconst mediaIds = items.map(item => item.json.media_id_string);\n\nconst queryNode = $('Query Tutorial Posts').first();\nconst caption = queryNode.json.properties.Caption?.rich_text?.map(t => t.plain_text).join('') || '';\nconst pageId = queryNode.json.id;\n\nreturn [{\n  json: {\n    mediaIds,\n    caption,\n    pageId\n  }\n}];"
      },
      "id": "05ab0253-1faf-416f-b148-b93cd6ab3938",
      "name": "Collect Media IDs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        208
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "media",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "191a78c2-4b83-41f7-837b-893e90ccc008",
      "name": "Upload to X Media",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -16,
        208
      ],
      "credentials": {
        "twitterOAuth1Api": {
          "id": "xPX5EX62QMMc88NP",
          "name": "X OAuth account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "9565f993-d22e-4107-b766-edbc173441a4",
      "name": "Download Images",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -240,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect all text from Notion page blocks (simplified output)\nconst blocks = $input.all();\nlet allText = '';\n\nfor (const item of blocks) {\n  const content = item.json.content;\n  if (content) {\n    allText += content + '\\n';\n  }\n}\n\n// Try to extract image URLs from page body\nconst urlPattern = /https:\\/\\/ghost-gym-v3-testing\\.up\\.railway\\.app\\/static\\/assets\\/img\\/(tutorials|build-in-public)\\/[^\\s\\n)]+\\.(png|jpg|jpeg)/gi;\nlet urls = (allText.match(urlPattern) || []).slice(0, 4);\n\n// Fallback: use the Image URL property from the Notion page\nif (urls.length === 0) {\n  const imageUrl = $('Query Tutorial Posts').first().json.property_image_url;\n  if (imageUrl) {\n    urls = [imageUrl];\n  }\n}\n\nif (urls.length === 0) {\n  throw new Error('No image URLs found in page content or Image URL property');\n}\n\n// Output one item per image URL\nreturn urls.map((url, i) => ({\n  json: { url, index: i }\n}));\n"
      },
      "id": "c1efd5f8-bcfd-431a-84c9-db0f032ec753",
      "name": "Parse Image URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        208
      ]
    },
    {
      "parameters": {
        "resource": "block",
        "operation": "getAll",
        "blockId": {
          "__rl": true,
          "value": "={{ $('Query Tutorial Posts').item.json.id }}",
          "mode": "id"
        },
        "returnAll": true
      },
      "id": "2ec6c29a-0500-42d6-9e27-238c6b746f09",
      "name": "Get Page Content",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -672,
        208
      ],
      "credentials": {
        "notionApi": {
          "id": "AgBTlffVso2wYwnY",
          "name": "personal notion "
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-results",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9d0028a7-67ae-4d77-9e5b-c15817910787",
      "name": "Has Tutorial Posts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -912,
        224
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "f6645ad8-f911-49d6-acad-bd24a4fa8e50",
          "mode": "list",
          "cachedResultName": "Build in Public Posts",
          "cachedResultUrl": "https://www.notion.so/f6645ad8f91149d6acadbd24a4fa8e50"
        },
        "limit": 1,
        "filterType": "json",
        "filterJson": "={\"and\":[{\"property\":\"Status\",\"select\":{\"equals\":\"Approved\"}},{\"property\":\"Ready to Post\",\"checkbox\":{\"equals\":true}},{\"property\":\"Posted\",\"checkbox\":{\"equals\":false}},{\"property\":\"Type\",\"select\":{\"equals\":\"Tutorial\"}}]}",
        "options": {}
      },
      "id": "79de9de1-4696-4e16-99ca-f6b5248ad3ae",
      "name": "Query Tutorial Posts",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -1120,
        224
      ],
      "credentials": {
        "notionApi": {
          "id": "AgBTlffVso2wYwnY",
          "name": "personal notion "
        }
      }
    },
    {
      "parameters": {},
      "id": "8bac01c5-df22-4a27-b586-0505be9aab9f",
      "name": "When clicking Test workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1328,
        224
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "APPEND"
            },
            {
              "name": "media_id",
              "value": "={{ $('INIT Upload').first().json.media_id_string.replace(/\\s/g, '') }}"
            },
            {
              "name": "segment_index",
              "value": "0"
            },
            {
              "name": "media_data",
              "value": "={{ $('Get Video Base64').item.json.media_data }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -256,
        688
      ],
      "id": "65927782-ae3f-4c60-a544-6cee467a9cb8",
      "name": "Append Video",
      "credentials": {
        "twitterOAuth1Api": {
          "id": "xPX5EX62QMMc88NP",
          "name": "X OAuth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://upload.twitter.com/1.1/media/upload.json",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "twitterOAuth1Api",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "command",
              "value": "INIT"
            },
            {
              "name": "total_bytes",
              "value": "266240"
            },
            {
              "name": "media_type",
              "value": "video/mp4"
            },
            {
              "name": "media_category",
              "value": "tweet_video"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -720,
        688
      ],
      "id": "541553fe-ff8a-498d-930f-e7d497e8b162",
      "name": "INIT Upload",
      "credentials": {
        "twitterOAuth1Api": {
          "id": "xPX5EX62QMMc88NP",
          "name": "X OAuth account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://ghost-gym-v3-testing.up.railway.app/api/v3/export/video-base64/{{ $('Query Tutorial Posts1').first().json.property_video_url.split('/').pop() }}\n",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -496,
        688
      ],
      "id": "337ac543-7a08-4e91-9ba8-219136ac4ec0",
      "name": "Get Video Base64"
    }
  ],
  "pinData": {},
  "connections": {
    "Collect Media IDs1": {
      "main": [
        [
          {
            "node": "Post Carousel Tweet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to X Media1": {
      "main": [
        [
          {
            "node": "Collect Media IDs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Images1": {
      "main": [
        [
          {
            "node": "Upload to X Media1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Image URLs1": {
      "main": [
        [
          {
            "node": "Download Images1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Content1": {
      "main": [
        [
          {
            "node": "Parse Image URLs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Tutorial Posts?1": {
      "main": [
        [
          {
            "node": "Has Video?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Tutorial Posts1": {
      "main": [
        [
          {
            "node": "Has Tutorial Posts?1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Carousel Tweet1": {
      "main": [
        [
          {
            "node": "Update Notion (Carousel Posted)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Video Tweet": {
      "main": [
        [
          {
            "node": "Update Notion (Video Posted)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30s for Processing": {
      "main": [
        [
          {
            "node": "Post Video Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINALIZE Upload": {
      "main": [
        [
          {
            "node": "Wait 30s for Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Video?": {
      "main": [
        [
          {
            "node": "INIT Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Page Content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post Carousel Tweet": {
      "main": [
        [
          {
            "node": "Update Notion (Posted)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Media IDs": {
      "main": [
        [
          {
            "node": "Post Carousel Tweet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to X Media": {
      "main": [
        [
          {
            "node": "Collect Media IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Images": {
      "main": [
        [
          {
            "node": "Upload to X Media",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Image URLs": {
      "main": [
        [
          {
            "node": "Download Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Page Content": {
      "main": [
        [
          {
            "node": "Parse Image URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Tutorial Posts?": {
      "main": [
        [
          {
            "node": "Get Page Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Tutorial Posts": {
      "main": [
        [
          {
            "node": "Has Tutorial Posts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking Test workflow": {
      "main": [
        [
          {
            "node": "Query Tutorial Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Video": {
      "main": [
        [
          {
            "node": "FINALIZE Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "INIT Upload": {
      "main": [
        [
          {
            "node": "Get Video Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Base64": {
      "main": [
        [
          {
            "node": "Append Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0f6e80df-5c0c-467f-ac3e-3c0725eee95c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ef8b0124d75d6691952e14b64b8ab7cda1e4085ca0d271843065efcf6b6a4525"
  },
  "id": "H522tbW0Gr8AhX28",
  "tags": []
}